/* 禁用iPhone中Safari的字号自动调整 */

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 解决IOS默认滑动很卡的情况 */
  -webkit-overflow-scrolling: touch;
}


/* 禁止缩放表单 */

input[type="submit"],
input[type="reset"],
input[type="button"],
input {
  resize: none;
  border: none;
}


/* 取消链接高亮  */

body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* 设置HTML5元素为块 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}


/* 图片自适应 */

img {
  width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */
  display: block;
  -ms-interpolation-mode: bicubic;
  /*为了照顾ie图片缩放失真*/
}


/* 初始化 */

body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

body {
  font: 16px/1.5 'Microsoft YaHei', '宋体', Tahoma, Arial, sans-serif;
}

em,
i {
  font-style: normal;
}

ul,
li {
  list-style-type: none;
}

strong {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #969696;
  font-family: 'Microsoft YaHei', Tahoma, Arial, sans-serif;
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-family: 'Microsoft YaHei';
}

img {
  border: none;
}

input {
  font-family: 'Microsoft YaHei';
}


/*单行溢出*/

.one_txt_cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


/*多行溢出 手机端使用*/

.txt_cut_1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.txt_cut_2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


/* 水平垂直居中的公共类 */

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


/* 水平居中公共类 */

.center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


/* 垂直居中公共类 */

.center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.bgz {
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.bz {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* 浮动  */

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix::after {
  content: '';
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.clearfix {
  zoom: 1;
}

.w {
  width: 18.75rem;
}


/* 主题色  */


/*.themeColor {*/


/*background-color: #ff841d;*/


/*}*/

.show {
  display: block;
}

.hide {
  display: none;
}

.w33 {
  width: 33.3%;
}

.red {
  color: red;
}


/* 精灵图的公共类 */

.sprite:before {
  content: '';
  background: url(../images/icons/jd-sprites.png) no-repeat;
  -webkit-background-size: 200px;
  background-size: 200px;
}


/* 水平垂直居中的公共类 */

.center-xy:before,
.center-self-xy {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


/* 垂直居中的公共类 */

.center-y:before,
.center-self-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


/* 水平居中公共类 */

.center-x:before,
.center-self-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}